html {
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    text-rendering: optimizeLegibility;
}

body {
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px 40px 40px 40px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a {
    font-size: 100%;
    background: 0 0;
    color: #663300;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
}
a:hover {
    text-decoration: underline;
}

.container {
    margin: auto;
    padding-top: 50px;
    max-width: 968px;
}
.section {
    padding: 20px;
    margin-top: 40px;
    border: 1px solid #efefef;
    border-radius: 5px;
    background-color: #fff;
}

.status-header {
    padding: 30px ;
    color: #222324;
    font-size: 28px;
    line-height: 1;
    font-weight: 300;
}
.status-header .subtitle {
    margin-left: auto;
    color: #69707a;
    font-size: 18px;
    line-height: 1.125;
}

.status-header .indicator {
    position: relative;
    left: -5px;
}

.status-header i {
    font-size: 0.7em;
}
i.online {
    color: #17d766;
}
i.offline {
    color: orangered;
}

.status-list {
    padding: 10px 30px;
}

.status-hero {
    padding: 10px 30px;
    font-size: 2em;
}

.status-list .label {
    font-size: 1.3em;

    margin-bottom: 5px;
}

.table {
    margin-bottom: 20px;
    width: 100%;
}
.table td {
    font-size: 14px;
    border: 1px solid #d3d6db;
    border-width: 0 0 1px;
    padding: 8px 10px;
}

.progress{
    border:none;
    border-radius:290486px;
    display:block;
    height:12px;
    overflow:hidden;
    padding:0;
    width:100%
}
.progress::-webkit-progress-bar {
    background-color:#d3d6db;
}
.progress::-webkit-progress-value {
     background-color:#72AD48;
}.progress::-moz-progress-bar {
     background-color:#72AD48;
}

.status-list .amount {
    font-size: 16px;
    font-weight: bold;
    color: #bbb;
    text-align: center;
}

.logo {
    text-align: center;
}
.logo img {
    width: auto;
    max-height: 100px;
    max-width: 100%;
}

.status-footer a {
    padding: 0 10px;
}
.status-footer a i {
    color: #72AD48;
}
